<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Karl Tatler | Wirral Estate Agents</title>

    <!-- Normalize-->
    <link href="styles/normalize.css" rel="stylesheet">


    <!-- Styles-->
    <link href="styles/owl.carousel.css" rel="stylesheet">
    <link href="styles/nolan.css" rel="stylesheet">

    <!-- PROPERTY TRACKER PAGE SPECIFIC STYLES HERE -->

    <link href="styles/property-tracker.css" rel="stylesheet">


    <!-- build:js scripts/vendor.js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/lodash/dist/lodash.compat.js"></script>
    <script src="bower_components/backbone/backbone.js"></script>
    <script src="bower_components/jquery.soap/jquery.soap.js"></script>
    <script src="bower_components/liquid.js/dist/liquid.js"></script>


    <!-- endbuild -->

    <!-- build:js scripts/plugins.js -->
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/affix.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/alert.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/button.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/carousel.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/collapse.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/dropdown.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/modal.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tooltip.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/popover.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/scrollspy.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tab.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/transition.js"></script>
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/main.js -->
    <script src="/scripts/main.js"></script>
    <script src="/scripts/models/negotiator.js"></script>
    <script src="/scripts/models/vendor.js"></script>
    <script src="/scripts/models/office.js"></script>
    <script src="/scripts/models/property.js"></script>
    <script src="/scripts/models/viewing.js"></script>
    <script src="/scripts/models/marketing_stats.js"></script>
    <script src="/scripts/models/property_user_interaction.js"></script>
    <script src="/scripts/views/marketing_stats.js"></script>
    <script src="/scripts/views/property.js"></script>
    <script src="/scripts/views/office.js"></script>
    <script src="/scripts/views/vendor.js"></script>
    <script src="/scripts/views/viewings.js"></script>
    <script src="/scripts/views/property_user_interactions.js"></script>
    <script src="/scripts/collections/negotiators.js"></script>
    <script src="/scripts/collections/offices.js"></script>
    <script src="/scripts/collections/viewings.js"></script>
    <script src="/scripts/collections/property_user_interactions.js"></script>
    <script src="/scripts/models/auth.js"></script>
    <!-- endbuild -->

    <script src="/scripts/kt_property_tracker.js"></script>





</head>
<body>
<div class="container">

 <header> <!--start header -->

      <div class="vendor-login">

            <span>Vendors: </span>
            <a href=""><span>Log in</span></a>


      </div>

      <div class="inner-container">

          <div class="logo"><a href="/"><img src="images/karl-tatler.png"></a></div>

          <div class="buttons">
            <span>Vendors: </span>
            <a href=""><button>Log in</button></a>
          </div>

          <div class="main-menu">

              <div class="contain-mob-btn">

                <button class="show-menu cmn-toggle-switch cmn-toggle-switch__htx">
                       <span>Menu</span>
                </button>

                <span class="menu-wording">Menu</span>

              </div>

                <button class="search-props-mob">
                    <span>Search properties</span>
                </button>

                <div class="login-buttons-mob">
                    <a href="/branches"><button><span>Contact us</span></button></a>
                </div>



                <div class="mob-search-bar">
                    <form action='/search' method='get'>

                      <input type="hidden" id='place_id' name='place_id' value='{{place_id}}'>
                      <a id="locate_btn" onclick="Ctesius.Actions.geoLocate()"></a>
                      <input type="text" placeholder="Enter location or postcode" id='location' name="location" value="{{location_field}}">

                      <label class="home-rent"><input  type="radio" name='channel' id="let" value="lettings" onclick="Ctesius.Actions.submitSearchForm(); return false;">Rent</label>
                      <label class="home-buy"><input type="radio" name='channel' id="buy" value="sales" onclick="Ctesius.Actions.submitSearchForm(); return false;">Buy</label>

                    </form>
                </div>

              <div class="testing">


                <ul  id="menu">
                <li class="menu-active" ><a href="#">Home</a></li>
                <li ><a href="#">About</a></li>
                <li ><a href="#">Buy</a></li>
                <li><a href="#">Rent</a></li>
                <li><a href="#">Sell or Let</a></li>
                <li><a href="#">Contact Us</a></li>

              </ul>


            </div>




          </div>
        </div>

    </header> <!-- /end hero image and thumbnails -->

<div id="wrapper"> <!--start wrapper main content -->














<!-- /////////////////////////////

  START OF PROPERTY TRACKER MARK-UP

/////////////////////////////   -->



<script id='tracker-intro-template' type='text/liquid'>
<!-- Your Property -->
  <div class="col-6 white-bg">

      <h3>Your Property</h3>

      <div class="t-property">

        <div class="col-4">
           {% for image in property.image limit:1 %}
            <img src="{{image.filepath}}">
           {%endfor%}
        </div>

        <div class="col-8">
          <p>{{property.address1}}, {{property.address2}}, {{property.address3}}</p>
        </div>

      </div>
  </div> <!--END - Your Property -->

  <div class="col-6 white-bg">

      <h3>Your Property Manager</h3>

      <div class="t-neg">

        <div class="col-3">
        </div>

        <div class="col-9">
          <h4>{{property.negotiator.name}}</h4>
          <p><span class="blue">T:</span> {{property.negotiator.telephone}}</p>
        </div>

      </div>
  </div>
</script>

<script id='marketing-tab-template' type='text/liquid'>
  <div id="sum-table" class="col-12 white-bg">
      <h4>Summary</h4>

      <ul>
        <li><span class="blue">{{marketing_stats.detailssent}} buyers sent details</span> of property</li>
        <li><span class="blue">Property has had {{marketing_stats.viewings}} viewings</span></li>
        <li>Property viewed <span class="blue">{{marketing_stats.pageviews}} times</span> on our website (by {{marketing_stats.uniquepageviews}} different people)</li>
      </ul>

  </div>
</script>


<script id='property-user-interactions-template' type='text/liquid'>
  <div id="sum-table" class="col-12 white-bg">
      <h4>Interaction Summary</h4>

      <ul>

      </ul>

  </div>
</script>



<script id='marketing-stats-template' type='text/liquid'>
  <li class="t-viewings">
       <a href=""><h4>{{marketing_stats.viewings}} Viewings</h4></a>
  </li>
  <li class="t-details">
       <a href=""><h4>{{marketing_stats.detailssent}} Details Sent</h4></a>
  </li>
  <li class="t-page-v">
       <a href=""><h4>{{marketing_stats.pageviews}} Page Views</h4></a>
  </li>
</script>


<script id='viewings-template' type='text/liquid'>

<img src="images/viewing-pie-holder.jpg">

<div class="col-12 white-bg">
   <h4>Viewing Notes</h4>

   <table>
   {%for viewing in viewings %}
     <tr>
       <td>{{viewing.applicantname}}</td>
       <td>{{viewing.followup}}</td>
       <td>{{viewing.datetime}}</td>
     </tr>
   {%endfor%}
   </table>
</div>


</script>








<div class="rows tracker-container">

  <div class="inner-container">

    <div class="col-12 ">

            <h2>Live Property Tracker</h2>


        <div id="tracker-login" class="col-6">

            <form>
                <p><input type="text" id="property_id" value="" placeholder="Property id"></p>
                <p><input type="password" id="password" value="" placeholder="Password"></p>
                <p class="submit"><input type="submit" name="commit" value="Login"></p>
            </form>

        </div>

<div id="tracker-body">

        <div id="tracker-intro" class="col-12 ">


        </div> <!--End #tracker-intro .col12 -->


        <div id="tracker-main" class="col-12 ">

              <div class="col-3 white-bg">
                  <ul class='tabs'>
                    <li id="overview-btn" class="t-active">Overview</li>
                    <li id="offers-btn" class="">Offers</li>
                    <li id="viewings-btn" class="">Viewings</li>
                    <li id="interactions-btn" class="">Interactions</li>
                    <li id="marketing-btn" class="">Marketing</li>
                    <li id="profile-btn" class="">Profile details</li>
                    <li id="log-out-btn">Logout</li>
                  </ul>
              </div>

              <div class="col-9 ">

                <!-- Overview Container -->
                  <div id="overview-cont">
                    <h3>Overview</h3>

                    <ul>

                      <li class="t-offer">
                           <a href=""><h4>3 Offers</h4></a>
                      </li>

                      <div id ='marketing-stats'></div>

                    </ul>


                  </div><!-- ##END - Overview Container -->




                <!-- Offers Container -->


                  <div id="offers-cont">
                    <h3>Offers</h3>

                    <div class="col-12 white-bg">
                        <table>

                          <tr>
                            <td><img src="images/icos/accepted.png"></td>
                            <td>Accepted Offer</td>
                            <td><button id="sales-progress">Sales progress</button></td>
                            <td>Miss Kirsty Jones</td>
                            <td>£106,000</td>
                            <td>22nd Aug 2015</td>
                          </tr>

                          <tr id="sale-tracker">
                            <td>Test</td>
                            <td>Test</td>
                            <td>Test</td>
                            <td>Test</td>
                            <td>Test</td>
                            <td>Test</td>
                          </tr>

                          <tr>
                            <td></td>
                            <td>Rejected Offer</td>
                            <td></td>
                            <td>Miss Kirsty Jones</td>
                            <td>£104,000</td>
                            <td>21st Aug 2015</td>
                          </tr>

                          <tr>
                            <td></td>
                            <td>Withdrawn</td>
                            <td></td>
                            <td>Mr Graham Exley</td>
                            <td>£99,900</td>
                            <td>4th Aug 2015</td>
                          </tr>

                          <tr>
                           <td></td>
                            <td>Rejected Offer</td>
                            <td></td>
                            <td>Mr Graham Exley</td>
                            <td>£99,000</td>
                            <td>30th July 2015</td>
                          </tr>

                          <tr>
                            <td></td>
                            <td>Rejected Offer</td>
                            <td></td>
                            <td>Mr Graham Exley</td>
                            <td>£97,000</td>
                            <td>23rd April 2015</td>
                          </tr>

                        </table>
                    </div>

                  </div><!-- ##END - Offers Container -->





                <!-- Viewings Container -->
                  <div id="viewings-cont" >
                    <h3>Viewings</h3>
                     <div id='viewings-view'></div>
                  </div><!-- ##END - Overview Container -->




                <!-- Marketing Container -->
                  <div id="marketing-cont">
                    <h3>Marketing</h3>
                    <div id='marketing-tab'></div>


                    </div>


                    <!-- Marketing Container -->
                      <div id="interactions-cont">
                        <h3>Interactions</h3>
                        <div id='property-user-interactions-tab'></div>


                        </div>




                  </div>


                <!-- Profile Container -->
                  <div id="profile-cont">
                    <h3>Profile</h3>

                  </div><!-- ##END - Profile Container -->

              </div>


        </div> <!--End #tracker-intro .col12 -->


    </div>   <!--End #tracker-body -->

  </div>

</div>

</div>


<!-- /////////////////////////////

  END OF PROPERTY TRACKER MARK-UP

/////////////////////////////   -->



 <div class="rows white-bg"> <!-- This 100% row is wrapping  the inner container on the slider to allow the buttons to be placed absolutely left and right of the sliders inner container-->
  <div class="inner-container"><!--start similar properties section -->

    <div class="rows">

        <div class="col-12">




                   <div id="awards" class="owl-carousel">
                              <div class="item">
                                <img src="images/awards-place.jpg" alt="Owl Image">
                              </div>
                              <div class="item">
                                <img src="images/awards-place.jpg" alt="Owl Image">
                              </div>
                              <div class="item">
                                <img src="images/awards-place.jpg" alt="Owl Image">
                              </div>
                              <div class="item">
                                <img src="images/awards-place.jpg" alt="Owl Image">
                              </div>
                              <div class="item">
                                <img src="images/awards-place.jpg" alt="Owl Image">
                              </div>
                              <div class="item">
                                <img src="images/awards-place.jpg" alt="Owl Image">
                              </div>
                    </div>

        </div>

    </div>

  </div><!-- /inner container -->

      <div class="carousel-nav">
        <a class="prev-awards " title="previous"></a>
        <a class="next-awards " title="next"></a>
      </div>

</div><!-- /row -->

  <!-- Responsive Offset Footer section below info bar needed with inner dives for Background Colours left and Right plus Back to top anchor -->

    <div class="info-bar">
      <div class="left-side">

      </div>
      <div class="right-side">
        <button id="scroll-to-top"></button>
      </div>


    </div>

  <!-- Main Info bar content and structure with a negative margin to bring it into line with the infobar section above-->
<div class="inner-footer">

          <div class="inner-left">
              <div class="split-1">
                <div class="footer-search">
                  <h2>Property Search</h2>
                  <p>It is intended to look Like actual text but not To be read some dummy</p>
                </div>
                <div class="footer-about">
                  <h2>About Karl Tatler</h2>
                  <p>It is intended to look Text use greek or latin But these can look odd due to unusual letter shapes and formations</p>
                </div>
              </div>
              <div class="split-2">
                <h2>Our Branches</h2>
                <p>It is intended to look Like actual text but not To be read some dummy Text use greek or latin But these can look odd Due to unusual letter Shapes and formationsIt is intended to look</p>
              </div>
              <div class="split-3">
                <h2>Twitter</h2>
                <p>It is intended to look Like actual text but not To be read some dummy Text use greek or latin But these can look odd Due to unusual letter Shapes and formationsIt is intended to look</p>
              </div>
          </div>
          <div class="inner-right">

            <h2>Keep up to date by signing up to our newsletter</h2>

           <form>
            <input type="text" placeholder="name" name="name">
            <input type="email"  placeholder="email address" name="email address">
            <input class="newletter-sign" type="submit" value="Submit">
           </form>

          </div>

        </div>

    <footer>

      <div class="inner-container">
        <div class="footer-links">
            <p>&copy; Karl Tatler Estate Agents 2014 <span>|</span> Terms and Conditions <span>|</span> Privacy Policy <span>|</span> Accessibility <span>|</span> Help Using This Site</p>
          </div>
          <div class="social-links">
            <p>Follow Us</p>
            <img src="images/icos/facebook.jpg" alt="Facebook">
            <img src="images/icos/twitter.jpg" alt="Twitter">
            <img src="images/icos/linkedin.jpg" alt="LinkedIn">
            <img src="images/icos/youtube.jpg" alt="Youtube">
          </div>
      </div>

    </footer>




  </div> <!-- / end wrapper -->
</div> <!-- /end container -->


<script type="text/javascript">

(function() {

    "use strict";

    var toggles = document.querySelectorAll(".cmn-toggle-switch");

    for (var i = toggles.length - 1; i >= 0; i--) {
      var toggle = toggles[i];
      toggleHandler(toggle);
    };

    function toggleHandler(toggle) {
      toggle.addEventListener( "click", function(e) {
        e.preventDefault();
        (this.classList.contains("active") === true) ? this.classList.remove("active") : this.classList.add("active");
      });
    }

})();



$(document).ready(function(){
        $( ".search-props-mob" ).click(function() {
          $( ".testing" ).hide();
          $( ".contain-mob-btn" ).removeClass("active-mob");
          $( ".show-menu" ).removeClass("active");
          $( ".mob-search-bar" ).toggle();
          $( ".search-props-mob" ).toggleClass( "open-search" );
 });



$(document).ready(function(){
       $( ".show-menu" ).click(function() {
          $( ".mob-search-bar" ).hide();
          $( ".search-props-mob" ).removeClass("open-search");
          $( ".testing" ).toggle();
          $( ".contain-mob-btn" ).toggleClass("active-mob");
});




$(window).resize(function(e){
    updateMenu();
});

function updateMenu(){

      if($(window).width() >= 690){

        // mobile view instructions
          $( ".testing" ).removeAttr('style');
          $( ".show-menu" ).removeClass('active');
          $( ".mob-search-bar" ).removeAttr('style');
          $( ".search-props-mob" ).removeClass('open-search');
          $( ".contain-mob-btn" ).removeClass('active-mob');
          } else {

        // desktop view instructions

          }

      }

    });

});


</script>






  </body>
</html>
